form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(23vh);
}
input {
    width: 50vw;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    border-color: rgb(255, 255, 255, 0.7);
    background-color: rgba(130, 130, 130, 0.2);;
}
input:focus {
    background-color: rgb(255, 255, 255, 1);
}
button {
    border: 2px solid rgb(255, 255, 255, 1);
    border-radius: 15px;
    background-color: transparent;
    transform: translateY(10vh) translateX(-5vw);
}
button:hover {
    background-color: rgb(255, 255, 255, 1);
}
button:active {
    background-color: transparent;
}